fastapi
uvicorn[standard]
sqlalchemy
pandas
numpy
scikit-learn
xgboost
joblib
python-multipart
python-dotenv
alembic
pydantic
pydantic-settings
pydantic[email]
jinja2
anyio
click
h11
idna
sniffio
starlette
typing-extensions
watchfiles
websockets
greenlet
mako
markupsafe
typing-inspection
annotated-doc
httptools
uvloop
scipy
threadpoolctl
pyyaml
annotated-types
python-dateutil
six
annotated-types
google-generativeai
python-jose
bcrypt
